<ul>
    {{#if navHome}}
        <li><a href="/"><i class="fas fa-arrow-left fa-sm"></i>&nbsp;&nbsp;&nbsp;Back to Portfolio</a></li>
    {{else}}
        <li><a href="/admin"><i class="fas fa-arrow-left fa-sm"></i>&nbsp;&nbsp;&nbsp;Back to Dashboard</a></li>
    {{/if}}
    <li><a href="/admin/logout"><i class="fas fsign-out-alt fa-sm"></i>&nbsp;&nbsp;&nbsp;Logout</a></li>
</ul>