<form action="/admin/edit" method="post">
  Title: <input type="text" name="title"><br>
  Description: <input type="text" name="description"><br>
  repoURL: <input type="text" name="repoURL"><br>
  hostedURL: <input type="text" name="hostedURL"><br>
  imageURL: <input type="text" name="imageURL"><br>
  <input type="submit" value="Submit">
</form>